<header>
    <section class="section-menu">
        <figure>
            <img src="./assets/imgs/header/logo.svg" alt="">
        </figure>
        <ul class="list-menu">
            <li>Collections</li>
            <li>Men</li>
            <li>Women</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </section>

    <section class="section-cart">
        <button>
            <img src="./assets/imgs/header/icon-cart.svg" alt="">
        </button>
        <figure>
            <img src="./assets/imgs/header/image-avatar.png" alt="">
        </figure>
    </section>
</header>
