<app-header></app-header>


<main>
    <div *ngFor="let product of products" (click)="onGoViewDetail(product)">
        <h3> {{ product.title }}</h3>

        <figure>
            <img [src]="product.images[0]" alt="">
        </figure>

        <p> {{ product.description }}</p>

        <div class="container-cart-button">
            <button>Add cart</button>
        </div>

    </div>

</main>
<div *ngIf="products.length > 0" class="container-more-products">
    <button (click)="onGetMoreProducts()">More</button>
</div>
