main {
    display: grid;
    // reponsive
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
figure {
    img {
        width: 257px;
        height: 260px;
        
    }
}

p {
    padding: 10px;
    font-size: 13px;
    color: #1f1f1f;
    height: 50px;
}
 
.container-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    button {
        letter-spacing: 1px;
        background: #fa7d1c;
        border: none;
        color: white;
        width: 150px;
        border-radius: 10px;
        height: 34px;
        font-size: 15px;
        cursor: pointer;
    }
}

.container-more-products {
    text-align: center;
    button {
        letter-spacing: 3px;
        outline: none;
        background: #000000;
        border: none;
        width: 300px;
        height: 50px;
        margin: 40px 0;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
}