<app-header></app-header>

<main>
    <div>
        <!-- MAIN IMG -->
        <section>
            <app-view-main-img></app-view-main-img>
        </section>
        <!-- MAIN CHILD -->
        <section class="section-imgs-child">
            <app-view-child-img></app-view-child-img>
            <app-view-child-img></app-view-child-img>
            <app-view-child-img></app-view-child-img>
        </section>
    </div>

    <div>
        <h4>SNEAKER COMPANY</h4>
        <h2>Fall Limited Edition Sneakers</h2>
    </div>
</main>
