main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 0;
    .section-imgs-child {
        display: flex;
    }
    .container-info-product {
        margin: 55px 0 0 100px;
    }
}