figure {
    display: flex;
    margin: 20px 35px 40px 0;
    img {
        max-width: 475px;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (max-width: 590px) {
    img {
        max-width: 394px !important;
    }
}